# Visual Studio
*.db
*.opendb
*.csproj
*.csproj.user
*.sln
.vscode
app.config
packages
packages.config
_*

# Makefiles
Makefile
*.make

# Misc
*.txt
*.7z
*.zip
*.tar.gz

# Sublime text
*.sublime-project
*.sublime-workspace

# Directories we don't ever want to commit
bin
obj
ipch
release
Release
Debug
.vs
cov-int
docker/netcode.io.net
docs
*.exe
